/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

p {padding-left: 10px}
h4 {padding-left: 10px}

/*body {
background-image:url('portrait.png');
}*/

h1.name {
  font-size: 5em;
  font-size: 7vw;
  color: #FFFFFF;
  margin: 0px;
  padding-left: 10px;
}

h3.position {

  color: #FFFFFF;
  color: #C49C3C;
  margin: 0px 0px 20px;
  padding-left: 70px;
  font-size: 2.0em;
/*  font-size: 2vw;*/
}

img.portrait {
  margin: 20px 20px 20px;
}

h3.subheader {
  color: #FFFFFF;
  padding: 10px;
}


div.title {

/*background-image:url('title.jpg');*/
    background-color: #255489;
    /*background-color: #5083C0;*/
    /*background-color: #264a93;*/
    /*background-color: #011F5B;*/
  width: 100%;
  float: center;
  margin: 0px;
}





div.header {

/*background-image:url('header.jpg');*/
    background-color: #255489;
    /*background-color: #5083C0;*/
    /*background-color: #264a93;*/
    /*background-color: #011F5B;*/
  width: 100%;
  float: center;
  margin: 0px;
}



.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
  max-width: 50em;
  padding-right: .6em;
  margin: 1em 0;
}

a:link {
    /*color: #BA7F44;*/
    color: #C49C3C;
}
a:visited {
    color: #a68432;
}

/*dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

dd {
  float: left;
}

dd a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

dd a:hover {
  background-color: #111111;
}*/

dl {
  padding-left: 22px ;
}


dt {
  display: block;
  float: left;
  min-width: 120px;
}

ul
{
  list-style-type: none;
  margin: 0;
}

li
{
  background-image: url(arrow.gif);
  background-repeat: no-repeat;
  background-position: 100% .4em;

}

body {
  background-color: white;
/*  font-family: "Open Sans", sans-serif;*/
  font-family: "Source Sans Pro", sans-serif;

  font-size: 18px;
  margin: 0;
  color: #444;
}

/*h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}*/
